* {
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.5fr 4fr 3fr 1fr 1fr;
    grid-template-columns: 65% 35%;
    grid-template-areas:
    "header header"
    "main top-aside"
    "main bottom-aside"
    "section section"
    "footer footer";
}

header {
    grid-area: header;
    background: #D9D9D9;
}

main {
    grid-area: main;
    background: #A4A4A4;
}

aside:first-of-type {
    grid-area: top-aside;
    background: #7F7A7A;
}

aside:last-of-type {
    grid-area: bottom-aside;
    background: #615050;
}

section {
    grid-area: section;
    background: #D9D9D9;
}

footer {
    grid-area: footer;
    background: #AFA9A9;
}