body {
    background-image: url("https://i.redd.it/2wbuahl3uan51.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
    font-size: 25px;
}
h2{
    margin-bottom: 100px;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}