@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E1E1E;
    width: 100%;
}
.wrapper{
    width: 1340px;
    margin: 0 auto;
}
nav{
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 59px;
}
ul a{
    color: #E9E3DC;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%;
    text-transform: uppercase;
    text-decoration: none;
}
.nav__active-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    background-color: #B3A0CD;
    color: #1E1E1E;
}
.header-title{
    width: 1255px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 74px auto 33px auto;
}
.header-img{
    margin: 0 auto 32px auto;
    display: block;
}
/*---------------------------------------HOMEWORK-----------------------------------------------*/
.section_about{
    width: 1340px;
    height: 369px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_about h1{
    width: 533px;
    color: #1E1E1E;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    margin: 98px 28px 85px 109px;
}
.p_n_btn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.section_about p{
    width: 521px;
    height: 75px;
    flex-shrink: 0;
    color: #1E1E1E;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
    margin: 0 149px 34px 0;
}
.section_about button{
    width: 176px;
    height: 60px;
    flex-shrink: 0;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;

    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;
}
button a{
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}
.section_menu{
    margin: 64px 0;
    display: flex;
    justify-content:space-between;
}
h2{
    width: 895px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
    margin: 64px auto 33px auto;
}
.footer-btn{
    width: 196px;
    height: 60px;
    flex-shrink: 0;
    background: #D1EF53;
    margin: 0 auto 36px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-btn a{
    color: #1E1E1E;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}



